@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-9xl font-fredoka font-bold select-none;
  }
  h2 {
    @apply text-6xl font-raleway font-semibold select-none;
  }
  p {
    @apply text-3xl font-raleway font-light;
  }
  button {
    @apply text-5xl font-fredoka font-normal font-black rounded px-5 py-1 opacity-80
      transition delay-150 ease-in-out focus:scale-110 hover:scale-110 hover:opacity-100;
  }
}